*.log
/data/*
builds/*
review/*
cache/*
.DS_Store
*/node_modules/*
*/flow-typed/*
*/build/*
*.tar
coverage
.eslintcache
node_modules
database.sqlite
/backend/configuration/settings*.yaml
!/backend/configuration/settings-defaults*.yaml
*.mo
/frontend/dist
/frontend/dist-ssr
/frontend/sharedRepo
npm-token
frontend/bundle
/frontend/schema.json
__generated__
