*.log
/data/*
build
builds/*
review/*
cache/*
*/node_modules/*
*/flow-typed/*
*/build/*
*.tar
coverage
.eslintcache
node_modules
database.sqlite
/backend/configuration/settings*.yaml
!/backend/configuration/settings-defaults*.yaml
*.mo
/frontend/dist
/frontend/dist-ssr
/frontend/sharedRepo
npm-token
frontend/bundle
/frontend/schema.json
/frontend/src/queries-types.ts
/backend/src/songs/*.automerge
*.cache
.now
.env
/dist
.direnv
.mysql
.dev.vars
.wrangler
/workers/drizzle
/workers/export
dist
target
data
.tmp

/rust/target

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/.pnp
.pnp.js

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

.vercel

# Yarn 3
.pnp.*
**/.yarn/*
!**/.yarn/patches
!**/.yarn/plugins
!**/.yarn/releases
!**/.yarn/sdks
!**/.yarn/versions
!**/.yarn/*.nix
